<% if !session[:user_id] %>
    <div>
        <%= form_for @user do |u| %>
        <%= u.label :first_name %>
        <%= u.text_field :first_name %>
        <%= u.hidden_field :code, :value => @code %>
        <%= u.submit %>
        <% end %>
    </div>
<% end %>


<div class="session_info">
    <%= @game_session.code %>
        <div class="user_list">

        <ul>

        <%= link_to "Show Users", game_session_users_path(@game_session), :class => "show_users" %>
            
        </ul>
        <%# @game_session.users.each do |gsu| %>
        <%#= gsu.first_name %>
        <%# end %>
    </div>

    <div class="question">
    <%#= link_to "Begin", new_game_session_round_path(@game_session), :class => "begin_round" %>
        <div class="question_content">
            <%= form_for ([@game_session, @round]) do |r| %>
            <%= r.submit %>
            <% end %>
        </div>

        <ul>
        </ul>
        
    </div>
</div>