<!DOCTYPE html>
<html>
  <head>
    <title>Jsrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav">
    <%= yield %>
  <% if session[:game_session] %>
    <%= link_to "End Game", "/game_sessions#logout" %>
  <% end %>
  </body>
</html>
